@import "../../../assets/partials/colors";

.footerMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 1em;
  background-color: $dark-blue;
  color: $white;

  .footerInfo {
    margin-left: 1.2em;
  }

  h4 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  p {
    font-size: 1em;
  }
  a {
    color: $white;
  }
  .footerImg {
    margin-top: 3em;
    img {
      width: 100%;
    }
  }
  .footerForm {
    form {
      .checkboxFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1em;

        label {
          font-size: 1.5vw;
        }
        input[type="checkbox"] {
          accent-color: $light-blue;
          width: 3vw;
          height: 3vw;
        }
      }
      button {
        width: 100%;
        background-color: $light-blue;
        border: none;
        padding: 0.5em;
        color: $white;
        font-size: 1.1em;
      }

      input[type="text"],
      input[type="email"],
      input[type="number"] {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        padding: 0.5em;
        background-color: $light-blue;
        color: $white;
        border: none;
        &::placeholder {
          color: $white;
          font-size: 1.2em;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
